//Responsivnes
$desktop: 1440px;
$tablet: 768px;

//Fonts & Weights
$mainFont: 'Source Sans Pro', sans-serif;
$firstWeight: 400;
$secondWeight: 700;

//Colors
$mainBlack: #000000;
$redBlock: #b82020;
$background: rgb(245, 245, 245);
$h1Color: #b4b3b3;
$buttonBackground: #be8e8e;
$buttonBackgroundHover: #cfa8a8;
$buttonTextColor: #fafafa;