//Responsivnes
$mobile: 375px;
$tablet: 768px;

//Fonts & Weights
$mainFont: 'Source Sans Pro', sans-serif;
$firstWeight: 400;
$secondWeight: 700;

//Colors
$mainBlack: #000000;
$redBlock: #b82020;
$background: rgb(190, 190, 190);
$h1Color: #FEFEFE;
$buttonBackground: #be8e8e;
