@import 'variables';

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
}

body {
    background-color: $background;
}

header {
    .title {
        width: 100%;
        color: $h1Color;
        font-size: 14px;
        letter-spacing: 2px;
        word-spacing: 1.5px;
        margin-top: 24px;
        margin-left: 18px;
        opacity: 60%;
        @include tablet {
            font-size: 32px;
            margin-left: 8%;
        }
        @include desktop() {
            font-size: 48px;
            margin-left: 28%;
        }
    }
}


.button-mode {
    margin-left: 18px;
    #grid-mode {
        width: auto;
        height: 42px;
        padding: 4px;
        background-color: $buttonBackground;
        border: none;
        border-radius: 8px;
        color: $buttonTextColor;
        cursor: pointer;
        &:active {
            transform: scale(0.95);
        }
        &:hover {
            background-color: $buttonBackgroundHover;
        }
        @include tablet {
            width: 140px;
            height: 64px;
        }
        @include desktop {
            font-size: 16px;
        }
    }
    #normal-mode {
        width: auto;
        height: 42px;
        padding: 4px;
        background-color: $buttonBackground;
        border: none;
        border-radius: 8px;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        color: $buttonTextColor;
        cursor: pointer;
        &:active {
            transform: scale(0.95);
        }
        &:hover {
            background-color: $buttonBackgroundHover;
        }
        @include tablet {
            width: 140px;
            height: 64px;
        }
        @include desktop {
            font-size: 16px;
        }
    }
    @include tablet {
        margin-left: 8%;
    }
    @include desktop {
        margin-left: 28%;
    }
}


.normalDisplay {
    
}

.gridDisplay {
    
    .image-container {
        position: relative;
        width: 50px;
        height: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 115px;
    }
}

.loader {
    position: relative;
    width: 12.5rem;
    height: 12.5rem;
    display: inline-block;
    overflow: hidden;
    margin-left: 16%;
    margin-top: 34%;
    @include tablet {
        margin-left: 32%;
        margin-top: 28%;
    }
    @include desktop {
        margin-top: 14%;
        margin-left: 42%;
    }
}

.loader-container div {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    animation: loader-container 1s linear infinite;
}

.image-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40%;
    @include desktop {
        margin-left: 28%;
        margin-top: 10%;
    }
}

@keyframes loader-container {
    0% {
        background-color: $redBlock
    }

    12.5% {
        background-color: $redBlock
    }

    15.5% {
        background-color: $mainBlack
    }

    100% {
        background-color: $mainBlack
    }
}