@import 'variables';

@mixin mobile {
    @media (min-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
}

body {
    background-color: $background;
}

h1 {
    margin-top: 4rem;
    margin-left: 38.5rem;
    color: $h1Color;
    opacity: 85%;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    word-spacing: 0.8rem;
}


.button-mode {
    #grid-mode {
        margin-top: 2rem;
        margin-left: 38.5rem;
        letter-spacing: 0.3rem;
        color: $h1Color;
        opacity: 85%;
        cursor: pointer;
        &:hover {
            color: $redBlock;
        }
    }
    #mode-icon {
        width: 36px;
        height: 36px;
        margin-left: 42rem;
        margin-top: -5rem;
        filter: invert(178%) sepia(40%) saturate(116%) hue-rotate(184deg) brightness(270%) contrast(100%);
        cursor: pointer;
        opacity: 95%;
    }
}


.regularDisplay {

}

.gridDisplay {
    
}

.loader {
    position: absolute;
    margin-top: 12rem;
    margin-left: 54rem;
    width: 12.5rem;
    height: 12.5rem;
    display: inline-block;
    overflow: hidden;
}

.loader-container div {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    animation: loader-container 1s linear infinite;
}

@keyframes loader-container {
    0% {
        background-color: $redBlock
    }

    12.5% {
        background-color: $redBlock
    }

    15.5% {
        background-color: $mainBlack
    }

    100% {
        background-color: $mainBlack
    }
}