* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: whitesmoke;
}

header .title {
  width: 100%;
  color: #b4b3b3;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 1.5px;
  margin-top: 24px;
  margin-left: 18px;
  opacity: 60%;
}

@media (min-width: 768px) {
  header .title {
    font-size: 32px;
    margin-left: 8%;
  }
}

@media (min-width: 1440px) {
  header .title {
    font-size: 48px;
    margin-left: 28%;
  }
}

.button-mode {
  margin-left: 18px;
}

.button-mode #grid-mode {
  width: auto;
  height: 42px;
  padding: 4px;
  background-color: #be8e8e;
  border: none;
  border-radius: 8px;
  color: #fafafa;
  cursor: pointer;
}

.button-mode #grid-mode:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button-mode #grid-mode:hover {
  background-color: #cfa8a8;
}

@media (min-width: 768px) {
  .button-mode #grid-mode {
    width: 140px;
    height: 64px;
  }
}

@media (min-width: 1440px) {
  .button-mode #grid-mode {
    font-size: 16px;
  }
}

.button-mode #normal-mode {
  width: auto;
  height: 42px;
  padding: 4px;
  background-color: #be8e8e;
  border: none;
  border-radius: 8px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: #fafafa;
  cursor: pointer;
}

.button-mode #normal-mode:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button-mode #normal-mode:hover {
  background-color: #cfa8a8;
}

@media (min-width: 768px) {
  .button-mode #normal-mode {
    width: 140px;
    height: 64px;
  }
}

@media (min-width: 1440px) {
  .button-mode #normal-mode {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .button-mode {
    margin-left: 8%;
  }
}

@media (min-width: 1440px) {
  .button-mode {
    margin-left: 28%;
  }
}

.gridDisplay .image-container {
  position: relative;
  width: 50px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 115px;
}

.loader {
  position: relative;
  width: 12.5rem;
  height: 12.5rem;
  display: inline-block;
  overflow: hidden;
  margin-left: 16%;
  margin-top: 34%;
}

@media (min-width: 768px) {
  .loader {
    margin-left: 32%;
    margin-top: 28%;
  }
}

@media (min-width: 1440px) {
  .loader {
    margin-top: 14%;
    margin-left: 42%;
  }
}

.loader-container div {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-animation: loader-container 1s linear infinite;
          animation: loader-container 1s linear infinite;
}

.image-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40%;
}

@media (min-width: 1440px) {
  .image-container {
    margin-left: 28%;
    margin-top: 10%;
  }
}

@-webkit-keyframes loader-container {
  0% {
    background-color: #b82020;
  }
  12.5% {
    background-color: #b82020;
  }
  15.5% {
    background-color: #000000;
  }
  100% {
    background-color: #000000;
  }
}

@keyframes loader-container {
  0% {
    background-color: #b82020;
  }
  12.5% {
    background-color: #b82020;
  }
  15.5% {
    background-color: #000000;
  }
  100% {
    background-color: #000000;
  }
}
/*# sourceMappingURL=style.css.map */